<div class="mt-1 flex justify-between items-center">
    <header class="text-2xl">Supplier Management</header>
    <button class="px-6 rounded-md py-3 bg-cyan-300 flex justify-between items-center gap-2 cursor-pointer" (click)="openModal()"><lucide-icon [img]="Plus"></lucide-icon> Upload File</button>
</div>

<table class="w-full">
    <thead class="text-left">
        <th class="py-3 text-center">#</th>
        <th class="py-3 text-left">Name</th>
        <th class="py-3 text-left">Path</th>
        <th class="py-3 text-center">Action</th>
    </thead>
    <tr class="hover:bg-cyan-300 duration-100" *ngFor="let document of documentList; let index = index">
        <td class="py-3 text-center">{{ index + 1 }}</td>
        <td class="py-3 text-left">{{ document.file_name }}</td>
        <td class="py-3 text-left">{{ document.file_path }}</td>
        <td class="py-3 text-center">
        <button 
            class="px-4 py-2 rounded-md bg-green-400 hover:bg-green-500 duration-100"
            (click)="downloadFile(document.file_path!, document.file_name!)">
            Download
        </button>
        </td>
    </tr>
</table>


<app-adddocument [openDocumentModal]="openDocumentModal" (openDocumentModalChange)="openDocumentModal = $event"></app-adddocument>