<div class="flex justify-between items-start gap-4">
  <div class="w-1/6 p-2 rounded-xl bg-gray-200">
    <header class="text-lg flex justify-between p-2">
      Filters
      <lucide-icon [img]="Funnel"></lucide-icon>
    </header>
    <!-- Search Box -->
    <div class="mt-2">
      <input type="text" [(ngModel)]="searchTerm" (input)="filterProducts()" 
             placeholder="Search product..."
             class="w-full p-2 border rounded-md" />
    </div>
  </div>

  <div class="w-5/6">
    <div class="w-full bg-cyan-300 rounded-md p-3 flex justify-end">
      <lucide-icon routerLink="/cart" class="cursor-pointer" [img]="Cart"></lucide-icon>
    </div>

    <div class="flex flex-col gap-3 mt-4">
      <div *ngFor="let product of filteredProducts" 
           class="border rounded-lg p-1 hover:bg-gray-50 duration-20">
        <div class="flex justify-between items-center">
          <div class="flex flex-col">
            <span>{{product.product_name}}</span>
            ₱ {{product.product_pricebulk}}
          </div>
          <button class="bg-green-400 text-white text-sm px-10 h-9 rounded-md" 
                  (click)="openModal(product.product_id ?? '')">
            Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal [isVisible]="OpenProductModal" [headerText]="headerText" (close)="closeModal()">
    <form (ngSubmit)="addtoCart()">
        <h3>Product Name: {{ displaySelectedProduct.product_name }}</h3>
        <p>Volume: {{ displaySelectedProduct.product_volume }}</p>
        <p>Quantity: {{ displaySelectedProduct.product_quantity }}</p>
        <input type="text" [readonly]="true" value="{{displaySelectedProduct.product_pricebulk}}">
        <p>Status: <span *ngIf="displaySelectedProduct.product_status == 'ACTIVE'">AVAILABLE</span></p>
        <p>Vat: 12%</p>
        <p>Price: <input type="text" name="product_price" [(ngModel)]="cartFields.product_price" [readonly]="true"></p>
        
        <div>
            <label for="">Order Quantity</label>
            <input type="text" name="quantity" [(ngModel)]="cartFields.quantity" class="w-full border rounded-md p-2 mt-1 border-gray-200" id="">
        </div>
        <div>
            <label for="">Discount</label>
            <input type="text" name="discount" [(ngModel)]="cartFields.discount" class="w-full border rounded-md p-2 mt-1 border-gray-200" id="">
        </div>
        <div>
            <button class="w-full bg-cyan-400 text-white rounded-md mt-2 p-2">
                Order
            </button>
        </div>
    </form>
</app-modal>