<app-modal [isVisible]="openAccountModal" [headerText]="headerText" (close)="closeModal()">
    <form (ngSubmit)="saveUser()">
        <div>
            <label>First Name</label>
            <input type="text" [(ngModel)]="UserFields.user_fname" name="user_fname" class="w-full border border-gray-200 p-1 rounded-md">
        </div>
        <div>
            <label>Middle Name</label>
            <input type="text" [(ngModel)]="UserFields.user_mname" name="user_mname" class="w-full border border-gray-200 p-1 rounded-md">
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" [(ngModel)]="UserFields.user_lname" name="user_lname" class="w-full border border-gray-200 p-1 rounded-md">
        </div>
        <div>
            <label>Province</label>
            <input type="text" [(ngModel)]="UserFields.user_province" name="user_province" class="w-full border border-gray-200 p-1 rounded-md">
        </div>
        <div>
            <label>City</label>
            <input type="text" [(ngModel)]="UserFields.user_city" name="user_city" class="w-full border border-gray-200 p-1 rounded-md">
        </div>
        <div>
            <label>Zip Code</label>
            <input type="text" [(ngModel)]="UserFields.user_zip" name="user_zip" class="w-full border border-gray-200 p-1 rounded-md">
        </div>
        <div>
            <label>Position</label>
            <select [(ngModel)]="UserFields.userRole" name="userRole" class="w-full border border-gray-200 p-1 rounded-md">
                <option value="">Select Role</option>
                <option value="ADMIN">ADMIN</option>
                <option value="CASHIER">CASHIER</option>
            </select>
        </div>
        <div>
            <label>Username</label>
            <input type="text" [(ngModel)]="UserFields.user_username" name="user_username" class="w-full border border-gray-200 p-1 rounded-md">
        </div>
        <div>
            <label>Password</label>
            <input type="password" [(ngModel)]="UserFields.user_password" name="user_password" 
            [placeholder]="isEditMode ? 'Leave blank to keep current password' : ''"
            class="w-full border border-gray-200 p-1 rounded-md">
        </div>

        <button class="w-full bg-cyan-400 text-white p-2 rounded-md mt-3">
            {{ isEditMode ? 'Update User' : 'Save User' }}
        </button>
    </form>
</app-modal>
