<div class="mt-1 flex justify-between items-center">
    <header class="text-2xl">Supplier Management</header>
    <button class="px-6 rounded-md py-3 bg-cyan-300 flex justify-between items-center gap-2 cursor-pointer" (click)="openModal()"><lucide-icon [img]="plus"></lucide-icon> Add New Supplier</button>
</div>

<table class="w-full">
    <thead class="text-left">
        <th class="py-3 text-center">#</th>
        <th class="py-3 text-left">Name</th>
        <th class="py-3 text-left">Address</th>
        <th class="py-3 text-center !w-[200px]">Action</th>
    </thead>
    <tr class="hover:bg-cyan-300 duration-100" *ngFor="let supplier of displaySupplier; let index = index">
        <td class="py-3 text-center">
            {{index + 1}}
        </td>
        <td class="py-3 text-left">
            {{supplier.supplier_name}}
        </td>
        <td class="py-3 text-left">
            {{supplier.brand_name}}
        </td>
        <td class="py-3 text-center flex gap-2 justify-center !w-[200px]">
            <button class="px-3 py-1 rounded-md bg-blue-500 text-white hover:bg-blue-600 duration-150"
                    (click)="editSupplier(supplier)">
                Edit
            </button>
            <button class="px-3 py-1 rounded-md bg-red-500 text-white hover:bg-red-600 duration-150"
                    (click)="deleteSupplier(supplier.supplier_id!)">
                Delete
            </button>
        </td>
    </tr>
</table>

<app-add-supplier 
  [openSupplierModal]="openSupplierModal"
  [editSupplier]="selectedSupplier" 
  (openSupplierModalChange)="openSupplierModal = $event"
  (supplierSaved)="DisplaySupplier()">
</app-add-supplier>