<div class="mt-1 flex justify-between items-center">
    <header class="text-2xl">Customer Management</header>
    <button class="px-6 rounded-md py-3 bg-cyan-300 flex justify-between items-center gap-2 cursor-pointer" (click)="openModal()"><lucide-icon [img]="plus"></lucide-icon> Add New Customers</button>
</div>

<table class="w-full">
    <thead class="text-left">
        <th class="py-3 text-center">#</th>
        <th class="py-3 text-left">Name</th>
        <th class="py-3 text-left">Address</th>
        <th class="py-3 text-center">Role</th>
        <th class="py-3 text-left">Number</th>
        <th class="py-3 text-center">Actions</th>
    </thead>
    <tr class="hover:bg-cyan-300 duration-100" *ngFor="let Customer of CustomerList; let index = index">
        <td class="py-3 text-center">
            {{index + 1}}
        </td>
        <td class="py-3 text-left">
            {{Customer.customer_fname}} {{Customer.customer_mname}} {{Customer.customer_lname}}
        </td>
        <td class="py-3 text-left">
            {{Customer.customer_province}} {{Customer.customer_city}} , {{Customer.customer_zip}}
        </td>
        <td class="py-3 text-center">
            -
        </td>
        <td class="py-3 text-left">
            {{Customer.contact_number}}
        </td>
        <td class="py-3 text-center">
            {{Customer.customer_status}}
        </td>
    </tr>
</table>
<app-addcustomers [openCustomerModal]="openCustomerModal" (openCustomerModalChange)="openCustomerModal = $event">
    
</app-addcustomers>