<div class="h-dvh w-[50%] p-2">
    <ul class="bg-gray-100 h-full w-60 rounded shadow-md">
        <li>PALMES STORES</li>
        <li routerLink="/dashboard">Dashboard</li>
        <li routerLink="/accounts">Accounts</li>
        <li routerLink="/products">Product</li>
        <li routerLink="/inventory">Inventory</li>
        <li routerLink="/supplier">Supplier</li>
        <li routerLink="/reports">Reports</li>
        <li routerLink="/receivables">Receivables</li>
        <li routerLink="/cashier">Cashier</li>
        <li routerLink="/orders">Orders</li>
        <li routerLink="/customers">Customers</li>
        <li routerLink="/payments">Payments</li>
    </ul>
</div>